<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>${messages.get("app.title")}</title>
</head>
<body>
<h1>${messages.get("app.page.title")}</h1>
<p>${messages.get("app.page.subtitle")}</p>
<% if( posts != null ) { %>
  <section id="posts">
  <% for ( post in posts) { %>
	<article>
		<h2>${post.title}</h2>
		<div class="content">${post.content}</div>
	</article>
  <% } %>
  </section>
<% } else { %>
<div class="message"><p>${app.posts.empty}</p></div>
<% } %>
</body>
</html>