<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>${messages.get("app.title")}</title>
		<link rel="icon" type="image/png" href="/games/media/icons/easywebapp.png" />
		<link type="text/css" href="/games/css/screen.css" media="screen"
			rel="stylesheet" />
		<link
			href='http://fonts.googleapis.com/css?family=Economica:400,700|Maiden+Orange|Syncopate|Gravitas+One|Homenaje'
			rel='stylesheet' type='text/css'>
		<link type="text/css" href="/games/css/smoothness/jquery-ui-1.8.21.custom.css"
			rel="stylesheet" />
		<link type="text/css" href="/games//css/jquery.lightbox-0.5.css" media="screen"
			rel="stylesheet" />
		<script type="text/javascript" src="/games//js/jquery-1.7.2.js"></script>
		<script type="text/javascript" src="/games//js/jquery-ui-1.8.21.custom.min.js"></script>
		<script type="text/javascript" src="/games//js/jquery.lightbox-0.5.js"></script>
		<script type="text/javascript" src="/games//js/easywebapp.js"></script>
		<!--[if IE]>
			<script type="text/javascript">
			(function(){
			      var html5elmeents = "address|article|aside|audio|canvas|command|datalist|details|dialog|figure|figcaption|footer|header|hgroup|keygen|mark|meter|menu|nav|progress|ruby|section|time|video".split('|');
			      for(var i = 0; i < html5elmeents.length; i++){
							document.createElement(html5elmeents[i]);
						}
					}
			);
			</script>
		<![endif]-->
	</head>
	<body>
		<div class="page">
			<header>
				<div class="user">
					<div class="avatar"></div>
					<p class="username">McGivrer</p>
					<p class="usersn">(Frédéric Delorme)</p>
					<p class="role">Administrateur</p>
					<ul class="tools">
						<li><a class="button" href="/preferences" accesskey="p"><em>P</em>références</a></li>
						<li><a class="button" href="/admin" accesskey="a"><em>A</em>dministration</a></li>
						<li><a class="button" href="/logout" accesskey="l"><em>L</em>ogout</a></li>
					</ul>
				</div>
				<h1>
					<a href="/games/app/application/index">${messages.get("app.title")}</a>
				</h1>
				<p>${messages.get("app.section.title")}</p>
				<div class="clear"></div>
				<% if(categories!=null && categories.size()){ %>
				<nav class="main-nav">
					<ul>
						<li class="<%= (categoryId==0?"selected":"")%>"><a
							href="/games/app/application/index" title="${messages.get("app.home.title")}">${messages.get("app.home.label")}</a>
						</li> <% for (category in categories) { %>
						<li<%= (categoryId==category.id?" class=\"selected\"":"")%>><a
							href="/games/app/application/category?categoryId=${category.id}"
							title="${category.label}">${category.title}</a>
						</li> <% }%>
					</ul>
				</nav>
				<% } %>
				<nav class="crumb-bar">
					<ul>
						<li><a href="/games/app/application/index"
							title="Retour à la page d'accueil">Home</a></li>
					</ul>
				</nav>
			</header>
			<section class="content">
				<aside class="covers media">
					<h3>${messages.get("app.show.posts.title")}</h3>
					<% if(posts!=null){ %>
					<ul class="vtools nologo">
						<%for ( item in posts) { %>
						<li><a href="/games/app/application/show?postId=${item.id}">${item.id}.${item.title}</a></li><%
						} %>
					</ul>
					<% } else{ %>
					<div class="message">
						<p>${messages.get("app.posts.empty")}</p>
					</div>
					<% } %>
				</aside>
				<aside class="refs media right">
					<div class="block">
						<!-- TODO implement Platformes management -->
						<h3>Plateformes</h3>
						<ul class="vtools">
						<% for ( platform in platforms) { %>
							<li><a href="/games/app/application/platform?platformId=${platform.id}" <%= (platformId==platform.id?"class=\"selected\"":""); %> >${platform.title}</a></li>
						<% } %>
						</ul>
						<!-- TODO implement Types management -->
						<h3>Types</h3>
						<ul class="vtools">
						
						<% for ( gameType in gameTypes) { %>
							<li><a href="/games/app/application/type?platformId=${gameType.id}" <%= (gameTypeId==gameType.id?"class=\"selected\"":""); %> >${gameType.title}</a></li>
						<% } %>
						</ul>
					</div>
				</aside>
				<% if(posts!=null && posts.size()>0) { %>
				<section id="posts">
					<%for ( post in posts) { %>
					<article>
						<h2><a href="/games/app/application/show?postId=${post.id}">${post.id}.${post.title}</a></h2>
						<ul class="tags">
							<li><a class="tag-mini" href="platform/${post.plateform}">${post.plateform}</a></li><% for (gt in post.gameTypes) { %><li><a class="tag-mini" href="type/${gt.toLowerCase()}">${gt}</a></li><% } %>
						</ul>
						<div class="header">${post.header}</div>
						<div class="info">
							<a href="/games/app/users/show?id=${post.author.id}"
								title="${post.author.firstName} ${post.author.lastName} ">${post.author.userName}</a>
							/ ${post.createdAt.format("dd/MM/yyyy")}
						</div>
					</article>
					<% } %>
				</section>
				<% } else{ %>
				<div class="message">
					<p>${messages.get("app.posts.empty")}</p>
				</div>
				<% } %>
			</section>
			<footer>
				<p>${messages.get("app.footer")}</p>
			</footer>
		</div>
	</body>
</html>