<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>${messages.get("app.title")}</title>
<link rel="icon" type="image/png" href="/games/media/icons/easywebapp.png" />
<link href="/games/css/screen.css" rel="stylesheet" media="screen" />
<script type="text/javascript" src="/games/js/jquery-1.7.2.js"></script>
</head>
<body>
	<div class="page">
		<header>
			<div class="user">
				<div class="avatar"></div>
				<p class="username">McGivrer</p>
				<p class="usersn">(Frédéric Delorme)</p>
				<p class="role">Administrateur</p>
				<ul class="tools">
					<li><a class="button" href="/preferences" accesskey="p"><u>P</u>références</a></li>
					<li><a class="button" href="/admin" accesskey="a"><u>A</u>dministration</a></li>
					<li><a class="button" href="/logout" accesskey="l"><u>L</u>ogout</a></li>
				</ul>
			</div>
			<h1>
				<a href="/games/app/application/index">${messages.get("app.title")}</a>
			</h1>
			<p>${messages.get("app.section.title")}</p>
			<div class="clear"></div>
			<% if(categories!=null && categories.size()){ %>
			<nav class="main-nav">
				<ul>
					<li<%= (categoryId==0?" class=\"selected\"":"")%>><a
						href="/games/app/application/index" title="${messages.get("app.home.title")}">${messages.get("app.home.label")}</a>
					</li> <% for (category in categories) { %>
					<li<%= (categoryId==category.id?" class=\"selected\"":"")%>><a
						href="/games/app/application/category?categoryId=${category.id}"
						title="${category.label}">${category.title}</a></li><% }%>
				</ul>
			</nav>
			<% } %>
			<nav class="crumb-bar">
				<ul>
					<li><a href="/games/app/application/index"
						title="Retour à la page d'accueil">Home</a></li>
				</ul>
			</nav>
		</header>
		<section class="content">
			<aside class="covers media">
				<h3>${messages.get("app.show.posts.title")}</h3>
				<% if(posts!=null){ %>
				<ul class="vtools nologo">
					<%for ( item in posts) { %>
					<li><a ${(post.id==item.id? " class=\"selected\"":"")}href="/games/app/application/show?postId=${item.id}">${item.id}.${item.title}</a></li><%
					} %>
				</ul>
				<% } else{ %>
				<div class="message">
					<p>${messages.get("app.posts.empty")}</p>
				</div>
				<% } %>
			</aside>
			<section id="posts">
				<article id="${post.id}">
					<h1 class="logo ${post.plateform}">
						<a href="/games/app/application/show?postId=${post.id}">#${post.id}.
							${post.title}</a>
					</h1>
					<ul class="tags">
						<li><a class="tag"
							href="/games/app/application/platform?platformId=${post.plateform}">${post.plateform}</a></li>
					<%for(gt in post.gameTypes) { %>
						<li><a class="tag" href="/games/app/application/type/${gt.toLowerCase()}">${gt}</a></li><%
					} %>
					</ul>
					<div class="header">${post.header}</div>
					<div class="content">${post.content}</div>
					<div class="info">
						<a href="/games/app/users/show?id=${post.author.id}"
							title="${post.author.firstName} ${post.author.lastName} ">${post.author.userName}</a>
						/ ${post.createdAt.format("dd/MM/yyyy")}
					</div>
				</article>

			</section>
			<div class="clear"></div>
			<footer>
				<p>${messages.get("app.footer")}</p>
			</footer>
		</section>
</body>
</html>