<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>${messages.get("error.title")}</title>
		<link href="/css/error.css" rel="stylesheet" media="screen" />
	</head>
	<body>
		<header>
			<h1>${messages.get("error.title")}</h1>
		</header>
		<section class="error">
			<h2>${messages.get("error.url.title")}</h2>
			<pre>${url}</pre>
			<h2>${messages.get("error.message.title")}</h2>
			<div>${message}</div>
			<h2>${messages.get("error.exception.title")}</h2>
			<div>${(exception!=null?exception.toString():"no exception")}</div>
			<% if(exception!=null ) { %>
				<h2>${messages.get("error.stacktrace.title")}</h2>
				<div>${exception.printStackTrace()}</div>
			<% } %>
		</section>
		<footer><p>${messages.get("error.footer")}</p></footer>
	</body>
</html>