html > * {
    margin:none;
    padding: none;
}
.error {
	margin: 0% 10%;
	padding:10px;
    border: 1px dotted red;
    
    /*box-shadow: #800 4px 4px 16px;*/
}
.debug {
	position:absolute;
	left:0px;
	bottom:0px;
	display:block;
	width:100%;
	height:100px;
	overflow: auto;
	color:#f00;
	background-color:#fee;
	border:0px;
	margin:0px;
	padding:0px;
	border-radius:8px;
	border-radius:4px 4px 0px 0px;
}
.debug a.button{
	text-decoration:none;
	color:#000;
	background-color:#eee;
	border:1px outset #ddd;
	border-radius:4px;
	padding:2px 4px;
	margin:0px;
	font-size:8pt;
}
.debug p{
	font-family:sans-serif;
	font-size:11pt;
	display:block;
	border:none;
	padding:4px 2px;
	margin:0px;
	color:#fff;
	background-color:#f00;
	
	border-radius:4px 4px 0px 0px;
}
.debug pre{
	font-size:9pt;
	color:#600;
	background-color:#fee;
	margin:0px;
	padding:4px;
	white-space: pre-wrap;
}