@import url("error.css");
html * {
/*Economica:400,700|Maiden+Orange|Syncopate|Gravitas+One|Homenaje*/
	font-size:10pt;
}
.clear {
	clear:both;
}
.page {
	margin:0% 10%;
	font-family:sans-serif, Verdana;
	font-size:12pt;
	border:1px solid #eee;
	box-shadow:#000 4px 4px 16px;
	min-width:640px;
}
/*----- Entête -----*/
.page header {
	display:block;
	padding:none; 
	margin:0px;
	/*height:3em;*/
	background-color:#000;
	color:#fff;
}
.page header h1 a{
	margin:0px;
	padding:10px;
	font-family: Homenaje;
	font-size: 56pt;
	text-shadow:#0cf -2px 2px 16px;
	color:#eee;
}
.page header .user {
	display:block;
	font-size:8pt;
	float:right;
	min-width:180px;
	max-width:260px;
	padding:8px 8px 4px 8px;
	margin:20px 10px;
	background-color:#888;
	border-radius:4px;
	white-space: nowrap;
}
.page header nav.main-nav{
	display:block;
	margin:0px;
	padding:0px;
	border:none;
}
.page header nav.main-nav ul{
	list-style:none;
	margin:0px;
	padding:0px;
	border-bottom:1px solid #ddd;
}
.page header nav.main-nav ul li{
	display:inline-block;
	margin:0px;
	padding:0px;
}
.page header nav.main-nav ul li a{
	display:block;
	text-decoration:none;
	color:#eee;
	background-color:#666;
	margin:0px;
	padding:4px 20px;
	border-right:1px solid #333;
	border-radius:4px 4px 0px 0px;
	/*box-shadow:#333 -2px 2px 4px inset,#999 11ptpx 0px 2px inset;*/
	font-size:11pt;
}
.page header nav.main-nav ul li.selected a{
	color:#000;
	padding-top:10px;
	background-color:#ddd;
}
.page header nav.main-nav ul li a:hover{
	color:#000;
	padding-top:8px;
	background-color:#aaa;	
}
.page header nav.main-nav ul li.selected a:hover{
	color:#111;
	padding-top:10px;
	background-color:#ccc;
}
.page header nav.crumb-bar ul {
	list-style:none;
	display:block;
	margin:0px;
	padding:0px;
	border-bottom:1px solid #ddd;
	background-color:#ddd;
}
/* Crumbbar*/
.page header nav.crumb-bar ul li{
	display:inline-block;
	margin:0px;
	padding:10px;
}
.page header nav.crumb-bar ul li a:before{
	content:"»";
	color: #666;
	padding:0px;
}
.page header nav.crumb-bar ul li:first-child{
	content:"";
	color: #666;
	padding:0px;
}
.page header nav.crumb-bar ul li a{
	padding:5px;
	text-decoration:none;
}
/* toolbar */
ul.tools {
	float:left;
	display:block;
	list-style: none;
	margin:4px 0px; 
	padding:0px;
	background-color:#666;
	border-radius:2px;
	width:100%;
}
ul.tools li {
	display:inline-block;
	margin:0px;
	padding:0px;
	border:0px;
}
ul.tools li a {
	display:inline-block;
	text-decoration:none;
	margin:0px; 
	padding:2px 6px;
	color:#fff;
}
ul.tools li:first-child a {
	border-radius:2px 0px 0px 2px;
}
ul.tools li:last-child a {
	display:inline-block;
	border-radius:0px 2px 2px 0px;
}
.page header .user p {
	margin:0px;
	padding:0px;
}
.page header .user div.avatar {
	float:left;
	margin-right:10px;
	background-image:url('../media/images/avatars/fred-48x48.jpg');
	background-repeat:no-repeat;
	background-position:0px 0px 48px 48px;
	border:2px solid #fff;	
	text-align:center;
	padding:0px;
	width:48px;
	height:48px;
	box-shadow:4px 4px 4px #000 inset, -1px -1px 1px #000 inset;
	border-radius:4px;
}
.page header .user div.avatar p {
	position:relative;
	top:33px;
	width:100%;
	background-color:#333;
	font-size:8px;
	padding:2px 0px;
	border-radius:0px 0px 3px 3px;
	border-top:1px solid #000;
}
a.button {
	font-size:8pt;
}
a.button:hover {
	background-color:#ddd;
	color:#333;
}
/*----- Section -----*/
.page section.content {
	display:inline-block;
	text-align:justify;
	padding:0px 10px;
}
.page aside.covers {
	float:left;	
	width:190px;
	padding-right:20px;
	margin-right:20px;
}
.page aside.refs {
	float:right;	
	width:190px;
	padding-left:20px;
	margin-left:20px;
}

.page section.content section#posts article {
	margin-left:205px;
	margin-right:205px;
	padding:0px 20px ;
	border-left:1px dotted #ddd;
	border-right:1px dotted #ddd;	
}

.page section.content section#posts article .note{
	display:block;
	float:right;
}

.page section.content section#posts article .info{
	display:block;
	text-align:right;
	font-size:9pt;
	width:100%;
	border-top:1px dotted #666;
}

.page section.content h1,
.page section.content h2,
.page section.content h3 {
	/*font-family: Homenaje;*/
	margin:5px;
}
.page section.content h1 {
	font-size:1.5em;
	padding:0.3em;
	padding-left:48px;
	height:2em;
}
.page section.content h2 {
	font-size:1.3em;
}
.page section.content h3 {
	font-size:1.1em;
}
/*----- list of posts -----*/
.page section.content section#posts {
	display:block;
	width:100%;
}

ul.tags {
	display:inline-block;
	list-style: none;
	margin:0px; 
	padding:0px;
}
ul.tags li {
	display:inline-block;
	margin:0px;
	padding:0px;
	border:0px;
}
ul.tags li a {
	text-decoration:none;
	margin:0px; 
	background-color:#666;
	color:#fff;
	border-right:1px solid #333;
}
a.tag {
	display:block;
	font-size:9pt;
	padding:2px 12px;
}
a.tag-mini {
	display:block;
	font-size:7pt;
	padding:1px 6px;
}
ul.tags li:first-child a {
	border-radius:4px 0px 0px 4px;
}
ul.tags li:last-child a {
	display:inline-block;
	border-radius:0px 4px 4px 0px;
	border-right:none;
}
.page aside div.block{
	margin:0px;
	padding:4px;
	padding-bottom:10px;
	margin-bottom:10px;
}
/* Vertical Tools */
ul.vtools {
	display:block;
	list-style: none;
	margin:0px; 
	padding:8px;
	font-size:10pt;
	box-shadow:#000 2px 2px 12px 2px inset;
	border-radius:6px;
}
ul.vtools li {
	display: block;
	margin:0px;
	padding:0px;
	border:0px;
}
ul.vtools li a {
	display:block;
	text-decoration:none;
	text-align:left;
	margin:0px; 
	padding:4px;
	padding-left:50px;
	background-color:#ddd;
	color:#333;
	border-bottom:1px solid #eee;
}
ul.vtools li:first-child a {
	border-radius:4px 4px 0px 0px;
}
ul.vtools li:last-child a {
	border-radius:0px 0px 4px 4px;
	border-bottom:none;
}
ul.nologo li a {
	padding-left:50px;
}

ul.vtools li a:hover {
	background-color:#666;
	color: #ddd;
}
ul.vtools li a.selected {
	background-color:#666;
	color:#eee;
}
ul.vtools li a.selected:hover {
	background-color:#333;
	color:#eee;
}
/* platforme background */
.logo{
	background-position:2px 2px;
	background-repeat:no-repeat;
	background-color:transparent;
}
.pc{
	background-image:url('../media/images/plateformes/pc.png');
}
.x360{
	background-image:url('../media/icons/plateformes/x360.png');
}
.ps3{
	background-image:url('../media/icons/plateformes/ps3.png');
}
.wii{
	background-image:url('../media/icons/plateformes/wii.png');
}
.wiiu{
	background-image:url('../media/icons/plateformes/wiiu.png');
}
.nds{
	background-image:url('../media/icons/plateformes/nds.png');
}
.3ds{
	background-image:url('../media/icons/plateformes/3ds.png');
}
.psp{
	background-image:url('../media/icons/plateformes/psp.png');
}
.psvita{
	background-image:url('../media/icons/plateformes/psvita.png');
}
ul.medialist {
	list-style:none;
	margin:0px;
	padding:0px;

}
ul.medialist li {
	border-bottom:1px dotted #ddd;
	padding:8px 0px 4px 0px;
}
ul.medialist li:last-child {
	border-bottom:none;
}

/* Décoration des articles */
.page section.content article p,
.page section.content article h3,
.page section.content article h2{
	display:block;
}
/*----- Sidebar media -----*/
.media {
	float:right;
	display:block;
	/*background-color:#ffb;*/
	width:200px;
}
.media h3{
	text-align:center;
}
/*----- Decoration images -----*/
figure.thumb {
	display:block;
	padding:0px;
	margin:0px;
	text-align:center;
}
figure.thumb img {
	border:none;/*1px solid #666;*/
	box-shadow:#000 2px 2px 8px;
	padding:4px;
	margin:2px;
	border-radius:4px;
}
figure.thumb figcaption {
	display:block;
	font-size:7pt;
	padding:2px;
	margin:0px;
}
figure figcaption {
	display:block;
	text-align:center;
}
figure.cover img {
	width:120px;
	height:180px;	
}
figure.small img{
	width:60px;
	height:80px;
	padding:6px;
	box-shadow:#000 2px 2px 12px 2px inset;
}
figure.medium img{
	width:160px;
	height:90px;	
}

figure.thumb:hover img{
	background-color:#df8;
}
figure.screenshot:hover img{
	background-color:#fd8;
}
.align-right figure {
	text-align:right;
}
.align-right figcaption {
	text-align:right;
}
.align-left figure {
	text-align:left;
}
.align-left figcaption {
	text-align:left;
}
/*---- Pied de page ----*/
footer {
	font-size:10pt;
	background-color:#000;
	color:#fff;
	text-align:center;
	margin-top:10px;
	padding:10px;
	height:60px;
}
